## Libraries

In [3]:
#libraries

import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
import os

Raw data - <br/>
<br/>
path : "C:\\Users\\Goutham-ROG\\Documents\\1-Codes\\Python - codes\\IML(Numpy)\\Class exercises\\Datasets\\Audiobooks" 
<br/>
File name: audiobook_data.csv<br/>

In [33]:
#reading the file
raw_csv_data = pd.read_csv(r"C:\\Users\\Goutham-ROG\\Documents\\1-Codes\\Python - codes\\IML(Numpy)\\Class exercises\\Datasets\\Audiobooks\\audiobook_data.csv")
# Making a copy
df = raw_csv_data.copy()

In [28]:
df.shape

(14084, 12)

In [24]:
df.head()

,Unnamed: 0,Book_length(mins)_overall,Book_length(mins)_avg,Price_overall,Price_avg,Review,Review10/10,Completion,Minutes_listened,Support_Request,Last_Visited_mins_Purchase_date,Target
0,994,1620.0,1620,19.73,19.73,1,10.00,0.99,1603.8,5,92,0
1,1143,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0
2,2059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0
3,2882,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0
4,3342,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0

In [22]:
df.columns

Index(['Unnamed: 0', 'Book_length(mins)_overall', 'Book_length(mins)_avg',
       'Price_overall', 'Price_avg', 'Review', 'Review10/10', 'Completion',
       'Minutes_listened', 'Support_Request',
       'Last_Visited_mins_Purchase_date', 'Target'],
      dtype='object')

In [23]:
df.dtypes

Unnamed: 0                           int64
Book_length(mins)_overall          float64
Book_length(mins)_avg                int64
Price_overall                      float64
Price_avg                          float64
Review                               int64
Review10/10                        float64
Completion                         float64
Minutes_listened                   float64
Support_Request                      int64
Last_Visited_mins_Purchase_date      int64
Target                               int64
dtype: object